<config>
   <a key="genericlogfileroot" value="/nestlabs/var/log/nlclient"/>
   <a key="genericlogfilename" value="controldebug"/>
   <a key="genericlogfileversion" value="3"/>
   <a key="genericlogfilerollsize" value="1258496"/>
   <a key="genericlogfilerollgens" value="15"/>
   <a key="backplateserialdevice" value="/dev/ttyO2"/>
</config>

