<!--

    Copyright (c) 2010-2012 Nest Labs, Inc.
    All rights reserved.

    This document is the property of Nest. It is considered
    confidential and proprietary information.

    This document may not be reproduced or transmitted in any form,
    in whole or in part, without the express written permission of
    Nest.

-->
<config>
   <backplatesimulatorconfig>
      <!-- settings set outside of nlbackplatesimulator.cpp (cannot be changed during simulation) -->
         <a key="backplatesimulationrun" value="0"/>
         <a key="backplatesimulatetempandhum" value="0"/>
         <!-- -1:custom, 0:none, 1:1H1C, 2:1H2C, 3:2H1C, 4:2H2C, 5:3H1C, 6:3H2C 7:(HP)1H1C, 8:(HP)1H1CAUX, 9:(HP)1H1CE,  10:(HP)1H1CAUXE, 11:(HP)2H2C, 12:(HP)2H2CAUX, 13:(HP)2H2CE, 14:(HP)2H2CAUXE, 15:1H, 16:1C, 17:2H, 18:2C, 19:3H -->
         <a key="backplatesimulationhvactype" value="0"/>
         <!-- Rh, W1, Y1, G, C, O/B, AUX/W2, Y2, Rc, STAR -->
         <a key="backplatesimulationhvacwires" value="Rh,W1,Y1,G"/>
         <!-- Rh, W1, Y1, G, C, O/B, AUX/W2, Y2, Rc, STAR -->
         <a key="backplatesimulationhvacpins" value="Rh,W1,Y1,G"/>
      <!-- settings set within nlbackplatesimulator.cpp (can be changed during simulation) -->
         <a key="backplatesimulationmode" value="daily"/>
         <a key="backplatesimulationbuildinginefficiency" value="0.00025"/>
         <a key="backplatesimulationactualhumidity" value="10"/>
         <a key="backplatesimulationnoisemagnitude" value="0.0033"/>
         <a key="backplatesimulationoverundershoot" value="0"/>
         <a key="backplatesimulationradiantheating" value="0"/>
        <!-- settings exclusively for daily mode --> 
         <a key="backplatesimulationtemperaturemin" value="10"/>
         <a key="backplatesimulationtemperaturemax" value="29.5"/>
        <!-- settings exclusively for hourly mode -->
         <a key="backplatesimulationambienttemperature" value="10"/>
         <a key="backplatesimulationstarttemperature" value="20"/>
   </backplatesimulatorconfig>
   <a key="numwebworkers" value="4"/>
   <a key="screensize" value="320"/>
   <!-- a key="screendpi" value="165"/ this is for NED -->
   <a key="screendpi" value="183"/>
   <!-- a key="screendpi" value="133"/ this is for Mac OS -->
   <a key="temperaturescale" value="fahrenheit"/>
   <!-- key="temperaturescale" value="celsius" -->
   <a key="fontroot" value="/nestlabs/share/fonts/"/>
   <!-- a key="akkuratfont" value="AkkStdBd.otf"/ -->
   <a key="akkuratfont" value="NestsansBold.ttf"/>
   <a key="akkuratfontlight" value="Nestsans.ttf"/>
   <a key="assetsroot" value="/nestlabs/share/images/"/>
<!-- 
    For simulator don't define localeroot 
 -->
   <a key="localeroot" value="/nestlabs/share/client/locales"/>
   <a key="sleeptimeout" value="20000"/>
   <a key="debug" value="0"/>
   <a key="pressandholdtime" value="1600"/>
   <cloud>
      <a key="cloudregisterurl" value="https://frontdoor.nest.com/entry"/>
      <a key="czauth" value="1"/>
   </cloud>
   <a key="controlserver" value="localhost"/>
   <a key="controlserverport" value="8080"/>
   <a key="softwareupdatecommand" value="/nestlabs/sbin/osm"/>
   <a key="softwareupdatepath" value="/media/scratch/"/>
   <a key="softwareupdatesimulatelowbattery" value="0"/>
   <a key="softwareupdatesimulateserviceproblem" value="0"/>
   <a key="softwareupdatefailurelockoutminutes" value="180"/>
   <!-- a key="softwareupdatemaximumdeferraltimeforinstallation" value="43200"/ 12 hours -->
   <!-- a key="softwareupdateminimumdeferraltimefornoncriticalinstallation" value="1800"/ 30 minutes -->
   <!-- a key="softwareupdatedownloadbatterylevelmv" value="3700"/ -->
   <!-- a key="softwareupdateinstallbatterylevelmv" value="3700"/ -->
   <a key="certblacklistpath" value="/nestlabs/share/certs/nest-crl-bundle.pem"/>
   <a key="rootcertpath" value="/nestlabs/share/certs/ca-bundle.pem"/>
   <a key="logfilerolltime" value="1800"/>
   <a key="genericlogfileroot" value="/nestlabs/var/log/nlclient"/>
   <a key="genericlogfilename" value="clientdebug"/>
   <a key="genericlogfileversion" value="3"/>
   <a key="genericlogfilerollsize" value="314624"/>
   <a key="genericlogfilerollgens" value="60"/>
   <a key="systemlogfileroot" value="/var/log/messages"/>
   <a key="systemlogfilename" value="syslog"/>
   <a key="systemlogfileversion" value="1"/>
   <a key="systemlogfilerollgens" value="32"/>
   <a key="systemlogfileflags" value="0x1"/>
   <a key="eventlogfileroot" value="/nestlabs/var/log/nlevent"/>
   <a key="eventlogfilename" value="clientevent"/>
   <a key="eventlogfileversion" value="1"/>
   <a key="eventlogfilerollsize" value="84000"/>
   <a key="eventlogfilerollgens" value="570"/>
   <a key="energystatsrecoveryfile" value="/nestlabs/var/data/energystats.recovery"/>
   <a key="timetotemprecoveryfile" value="/nestlabs/var/data/timetotemp.recovery"/>
   <a key="overundershootrecoveryfile" value="/nestlabs/var/data/overundershoot.recovery"/>
   <a key="schedulemanagerrecoveryfile" value="/nestlabs/var/data/schedulemanager.recovery"/>
   <a key="smartthermostatmanagerrecoveryfile" value="/nestlabs/var/data/smartthermostatmanager.recovery"/>   
   <a key="schedulelearnerrecoveryfile" value="/nestlabs/var/data/schedulelearner.recovery"/>
   <a key="autoawayrecoveryfile" value="/nestlabs/var/data/autoaway.recovery"/>
   <a key="historyrecoveryfile" value="/nestlabs/var/data/sensorhistory.recovery"/>
   <a key="airwaverecoveryfile" value="/nestlabs/var/data/airwave.recovery"/>
   <a key="radiantcontrolrecoveryfile" value="/nestlabs/var/data/radiantcontrol.recovery"/>
   <a key="sunlightcorrectionrecoveryfile" value="/nestlabs/var/data/sunlightcorrection.recovery"/>
   <a key="usageestimatorrecoveryfile" value="/nestlabs/var/data/usageestimator.recovery"/>
   <a key="tuneupmanagerrecoveryfile" value="/nestlabs/var/data/tuneupmanager.json"/>
   <a key="tuneuplearnerrecoveryfile" value="/nestlabs/var/data/tuneuplearner.json"/>
   <a key="drmanagerrecoveryfile" value="/nestlabs/var/data/drmanager.json"/>
   <a key="autodehumrecoveryfile" value="/nestlabs/var/data/autodehum.recovery"/>
   <a key="smartthermcomforttempheat" value="21.11"/>
   <a key="smartthermcomforttempcool" value="25.56"/>
   <a key="progthermnumsetpoints" value="4"/>
   <a key="progthermsetpoints" value="1310720,25200,1019740,32400,1310720,64800,1019740,79200,1601700,25200,1820445,32400,1601700,64800,1601700,79200"/>
   <a key="overundershootenabled" value="1"/>
   <a key="backplateserialdevice" value="/dev/ttyO2"/>
   <a key="minconvergencedelta" value="0.05"/>
   <a key="obshortedforcool" value="1"/>
   <a key="uploadlogs" value="1"/>
   <a key="uploadcompression" value="1"/>
   <a key="waitforvsync" value="0"/>
   <a key="fbrotate" value="0"/>
   <a key="rotaryhysteresis" value="20"/>
   <a key="rotarygain" value="-1024"/>
   <a key="backlightcontrol" value="1"/>
   <a key="clientversion" value=""/>
   <a key="pirthreshold" value="100"/>
   <a key="switchableui" value="0"/>
   <a key="wifiinterface" value="tiwlan0"/>
   <a key="weatherpollinterval" value="3900"/>
   <a key="settingsfile" value="/nestlabs/etc/user/settings.config"/>
   <a key="fbdevice" value="/dev/fb0"/>
   <a key="logofile" value="/nestlabs/share/images/comfort.png"/>
   <a key="logooffsetx" value="0"/>
   <a key="logooffsety" value="-5"/>
   <a key="savingsfile" value="/nestlabs/share/images/savings.png"/>
   <a key="comfortfile" value="/nestlabs/share/images/comfort.png"/>
   <a key="learningfile" value="/nestlabs/share/images/learning.png"/>
   <a key="awayfile" value="/nestlabs/share/images/away.png"/>
   <a key="userfile" value="/nestlabs/share/images/user.png"/>
   <a key="weatherfile" value="/nestlabs/share/images/weather.png"/>
   <a key="connectorfile_1_9" value="/nestlabs/share/images/Connector_1_9"/>
   <a key="connectorselectedfile_1_9" value="/nestlabs/share/images/ConnectorSelected_1_9"/>
   <a key="connectorfile_1_9a" value="/nestlabs/share/images/Connector_1_9a"/>
   <a key="connectorselectedfile_1_9a" value="/nestlabs/share/images/ConnectorSelected_1_9a"/>
   <a key="connectorfile_2_0" value="/nestlabs/share/images/Connector_2_0"/>
   <a key="connectorselectedfile_2_0" value="/nestlabs/share/images/ConnectorSelected_2_0"/>
   <a key="wakeonapproachbatterythreshold" value="3.660"/>
   <a key="tempscreenslidescale" value="0.41"/>
   <!-- a key="tempscreenslidescale" value="0.436"/ this is for michael's proto -->
   <a key="alerttimeout" value="10000"/>
   <a key="networkrecoveryenabled" value="1"/>
   <a key="networkrecoveryscaninterval" value="5000"/>
   <a key="networkrecoverytimeout" value="45000"/>
   <a key="networkresetenabled" value="1"/>
   <a key="networkresettimeout" value="5400"/>
   <a key="networkfailurelimit" value="4"/>
   <a key="daysforautoawayconfidence" value="7"/>
   <a key="minnumcmdsforsteadylearning" value="10"/>
   <a key="randomizemidnighttimeforlearning" value="1"/>
   <a key="dropboxlabel" value="Nest"/>
   <a key="dropboxmount" value="/media/dropbox"/>
   <a key="dropboxsize" value="39845888"/>
   <a key="dropboxstorage" value="/media/scratch/dropbox"/>
   <a key="dropboxdonotextend" value="0"/>
   <a key="enablebotautomation" value="0"/>  
   <a key="botscript" value="/nestlabs/etc/bots/launcher.lua"/>
   <a key="tempscreenoutput" value="/nestlabs/var/data/tempscreenoutput"/> 
   <a key="enabletempscreenoutput" value="0"/> 
   <a key="autoawaytesting" value="0"/>
   <a key="clockchangedthreshold" value="60"/>
   <a key="environmentplistpath" value="/nestlabs/etc/system/environment.plist"/>
   <a key="overrideauthkey" value="0"/>
   <a key="simauthkey" value=""/>
   <a key="weatherurloverrideenable" value="0"/>
   <a key="weatherurloverride" value=""/>
   <a key="backplateupdatefile" value="/nestlabs/share/bp/data/firmware/nlbpfirmware.plist"/>
   <a key="cloudupdateenable" value="1"/>
   <a key="brightnesspath" value="/nestlabs/share/client/brightness/brightness.plist"/>
   <a key="autobackplateupdate" value="1"/>
   <a key="keepaliveinterval" value="120"/>
</config>
