<!--

    Copyright (c) 2010-2012 Nest Labs, Inc.
    All rights reserved.

    This document is the property of Nest. It is considered
    confidential and proprietary information.

    This document may not be reproduced or transmitted in any form,
    in whole or in part, without the express written permission of
    Nest.

-->
<config>
   <a key="backlightdevice" value="/sys/class/backlight/3-0036"/>
   <a key="backlighthwramp" value="/sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0036"/>
   <a key="backlighthwramprates" value="1,130,260,520,1000,2000,4000,8000"/>
<!-- make sure to use one of the backlightramprates values -->
   <a key="displayfadeuptime" value="260"/>
   <a key="displayfadedowntime" value="2000"/>
   <a key="hasproximitysensor" value="0"/>
   <a key="hasnearpirsensor" value="1"/>
   <a key="nearpirthreshold" value="15"/>
   <a key="minimumnearpirthreshold" value = "0"/>
   <a key="clickfrequency" value="2000"/>
   <a key="clickduration" value="3"/>
   <a key="refreshals" value="0"/>

<!-- 
    Main Menu Selector parameters
 -->
   <a key="MN_IMPULSE_SCALER" value="9.188"/>
   <a key="MN_IMPULSE_DECAY" value="3.15"/>
   <a key="MN_BOUNCE_EDGE_DECAY" value="0.95"/>
   <a key="MN_CENTER_PUCK_DECAY" value="3"/>
   <a key="MN_SETTLED_THRESHOLD" value="0.0003"/>
   <a key="MN_POWER_CURVE" value="0"/>
</config>
