<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Groups</key>
	<dict>
		<key>primary</key>
		<array>
			<string>bp</string>
			<string>spl0</string>
			<string>boot0</string>
			<string>root0</string>
			<string>system-config</string>
			<string>user-config</string>
			<string>data</string>
			<string>log</string>
			<string>scratch</string>
		</array>
		<key>secondary</key>
		<array>
			<string>bp</string>
			<string>spl1</string>
			<string>boot1</string>
			<string>root1</string>
			<string>system-config</string>
			<string>user-config</string>
			<string>data</string>
			<string>log</string>
			<string>scratch</string>
		</array>
	</dict>
	<key>Destinations</key>
	<array>
		<dict>
			<key>Type</key>
			<string>Root</string>
			<key>Children</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Program</string>
					<key>Name</key>
					<string>bp</string>
					<key>Label</key>
					<string>bp</string>
					<key>Program</key>
					<string>/nestlabs/sbin/nlbpupdater</string>
					<key>Arguments</key>
					<dict>
						<key>Install</key>
						<array>
							<string>-config</string>
							<string>/etc/nestlabs/bpupdater.config</string>
							<string>-timeout</string>
							<string>180</string>
							<string>-updatefile</string>
						</array>
					</dict>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>ipl</string>
					<key>Label</key>
					<string>ipl</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd1</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>262144</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>spl0</string>
					<key>Label</key>
					<string>spl</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd2</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>1572864</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>spl1</string>
					<key>Label</key>
					<string>spl</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd3</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>1572864</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>env0</string>
					<key>Label</key>
					<string>env</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd4</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>393216</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>env1</string>
					<key>Label</key>
					<string>env</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd5</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>393216</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>boot0</string>
					<key>Label</key>
					<string>boot</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd6</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>8388608</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>boot1</string>
					<key>Label</key>
					<string>boot</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd8</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>8388608</integer>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>root0</string>
					<key>Label</key>
					<string>root</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd7</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>48234496</integer>
					<key>Children</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>Name</key>
							<string>root0</string>
							<key>Label</key>
							<string>root</string>
							<key>Format</key>
							<string>jffs2</string>
							<key>Children</key>
							<array>
								<dict>
									<key>Type</key>
									<string>File</string>
									<key>Name</key>
									<string>root0</string>
									<key>Label</key>
									<string>root</string>
									<key>Node</key>
									<string>/dev/mtdblock7</string>
									<key>Mounts</key>
									<dict>
										<key>Primary</key>
										<string>/</string>
										<key>Secondary</key>
										<string>/media/root0</string>
										<key>Options</key>
										<string>noatime</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>root1</string>
					<key>Label</key>
					<string>root</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd9</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>48234496</integer>
					<key>Children</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>Name</key>
							<string>root1</string>
							<key>Label</key>
							<string>root</string>
							<key>Format</key>
							<string>jffs2</string>
							<key>Children</key>
							<array>
								<dict>
									<key>Type</key>
									<string>File</string>
									<key>Name</key>
									<string>root1</string>
									<key>Label</key>
									<string>root</string>
									<key>Node</key>
									<string>/dev/mtdblock9</string>
									<key>Mounts</key>
									<dict>
										<key>Primary</key>
										<string>/</string>
										<key>Secondary</key>
										<string>/media/root1</string>
										<key>Options</key>
										<string>noatime</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>system-config</string>
					<key>Label</key>
					<string>system-config</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd10</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>4194304</integer>
					<key>Children</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>Name</key>
							<string>system-config</string>
							<key>Label</key>
							<string>system-config</string>
							<key>Format</key>
							<string>jffs2</string>
							<key>Children</key>
							<array>
								<dict>
									<key>Type</key>
									<string>File</string>
									<key>Name</key>
									<string>system-config</string>
									<key>Label</key>
									<string>system-config</string>
									<key>Node</key>
									<string>/dev/mtdblock10</string>
									<key>Mounts</key>
									<dict>
										<key>Primary</key>
										<string>/media/system-config</string>
										<key>Secondary</key>
										<string>/media/system-config</string>
										<key>Options</key>
										<string>noatime</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>user-config</string>
					<key>Label</key>
					<string>user-config</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd11</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>8388608</integer>
					<key>Children</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>Name</key>
							<string>user-config</string>
							<key>Label</key>
							<string>user-config</string>
							<key>Format</key>
							<string>jffs2</string>
							<key>Children</key>
							<array>
								<dict>
									<key>Type</key>
									<string>File</string>
									<key>Name</key>
									<string>user-config</string>
									<key>Label</key>
									<string>user-config</string>
									<key>Node</key>
									<string>/dev/mtdblock11</string>
									<key>Mounts</key>
									<dict>
										<key>Primary</key>
										<string>/media/user-config</string>
										<key>Secondary</key>
										<string>/media/user-config</string>
										<key>Options</key>
										<string>noatime</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>data</string>
					<key>Label</key>
					<string>data</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd12</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>20971520</integer>
					<key>Children</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>Name</key>
							<string>data</string>
							<key>Label</key>
							<string>data</string>
							<key>Format</key>
							<string>jffs2</string>
							<key>Children</key>
							<array>
								<dict>
									<key>Type</key>
									<string>File</string>
									<key>Name</key>
									<string>data</string>
									<key>Label</key>
									<string>data</string>
									<key>Node</key>
									<string>/dev/mtdblock12</string>
									<key>Mounts</key>
									<dict>
										<key>Primary</key>
										<string>/media/data</string>
										<key>Secondary</key>
										<string>/media/data</string>
										<key>Options</key>
										<string>noatime</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>log</string>
					<key>Label</key>
					<string>log</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd13</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>20971520</integer>
					<key>Children</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>Name</key>
							<string>log</string>
							<key>Label</key>
							<string>log</string>
							<key>Format</key>
							<string>jffs2</string>
							<key>Children</key>
							<array>
								<dict>
									<key>Type</key>
									<string>File</string>
									<key>Name</key>
									<string>log</string>
									<key>Label</key>
									<string>log</string>
									<key>Node</key>
									<string>/dev/mtdblock13</string>
									<key>Mounts</key>
									<dict>
										<key>Primary</key>
										<string>/media/log</string>
										<key>Secondary</key>
										<string>/media/log</string>
										<key>Options</key>
										<string>noatime</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Type</key>
					<string>Stream</string>
					<key>Name</key>
					<string>scratch</string>
					<key>Label</key>
					<string>scratch</string>
					<key>Class</key>
					<string>Nand</string>
					<key>Node</key>
					<string>/dev/mtd14</string>
					<key>Offset</key>
					<integer>0</integer>
					<key>Size</key>
					<integer>96468992</integer>
					<key>Children</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>Name</key>
							<string>scratch</string>
							<key>Label</key>
							<string>scratch</string>
							<key>Format</key>
							<string>jffs2</string>
							<key>Children</key>
							<array>
								<dict>
									<key>Type</key>
									<string>File</string>
									<key>Name</key>
									<string>scratch</string>
									<key>Label</key>
									<string>scratch</string>
									<key>Node</key>
									<string>/dev/mtdblock14</string>
									<key>Mounts</key>
									<dict>
										<key>Primary</key>
										<string>/media/scratch</string>
										<key>Secondary</key>
										<string>/media/scratch</string>
										<key>Options</key>
										<string>noatime</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
